body {background-color: deepskyblue;
color: snow;
}
h1 {font-size: 50px;}
h2 {font-size: 40px;}
li {font-size: 20px;}
a {color: snow;}
img{border: 15px solid;margin: auto;display: block;border-radius: 400px;}